@use './components/vars' as *;

.ContactForm {
  padding-top: 100px;
  min-height: 100vh;

  .error {
    color: red;
    padding-top: 10px;
  }

  h2 {
      width: 100%;
      color: $accentColor;
      font-size: 36px;
      text-align: center;
      margin-bottom: 75px;
  }

    .row {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        .col {
            position: relative;
            width: 100%;
            padding: 0 20px;
            margin: 30px 0 10px 0;
            transition: 0.5s;
        }
        #textArea {
            position: relative;
            width: 100%;
            height: 100px;
            padding: 10px 0;

            .text {
                top: 50px;
            }

            textarea {
                position: absolute;
                width: 100%;
                height: 80%;
                background-color: transparent;
                box-shadow: none;
                border: none;
                outline: none;
                font-size: 18px;
                padding: 0 10px;
                z-index: 1;
                color: $formTextColor;
                resize: none;

                &:focus ~ .text,
                &:valid ~ .text {
                    top: -35px;
                    left: -10px;
                }

                &:focus ~ .line,
                &:valid ~ .line {
                    height: 100%;
                }
            }
        }

        .inputBox {
            position: relative;
            width: 100%;
            height: 40px;
            color: $accentColor;

            .line {
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                height: 2px;
                background-color: $formColor;
                transition: 0.5s;
                border-radius: 1px;
                pointer-events: none;
            }

            input{
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: transparent;
                box-shadow: none;
                border: none;
                outline: none;
                font-size: 18px;
                padding: 0 10px;
                z-index: 1;
                color: $formTextColor;

                &:focus + .text,
                &:valid + .text {
                    top: -35px;
                    left: -10px;
                }

                &:focus ~ .line,
                &:valid ~ .line {
                    height: 100%;
                }
            }

            .text {
                position: absolute;
                top: 0;
                left: 0;
                line-height: 40px;
                font-size: 18px;
                padding: 0 10px;
                display: block;
                transition: 0.5s;
                pointer-events: none;
            }
        }
    }

    input[type="submit"] {
        display: flex;
        margin: auto;
        border: none;
        padding: 9px 35px;
        cursor: pointer;
        outline: none;
        background-color: $accentColor;
        color: #fff;
        font-size: 18px;
        border-radius: 2px;
    }
}

@media screen and (min-width: 850px) {
  .ContactForm {
    margin: auto;
    width: 70vw;
  }
}