$accentColor: #131313;
$backgroundColor: #F2F2F2;
$elementColor: #D0D0D0;
$formColor: #d0d0d0;
$formTextColor: #131313;

// $scrollbarMainColor: hsl(120, 75%, 50%);
$scrollbarMainColor: #131313;
$scrollbarAccentColor: #d0d0d0;
// $scrollbarAccentColor: hsl(120, 100%, 20%);