.Swiper {
  width: 99vw;

  --swiper-navigation-color: rgb(58, 58, 58);
  --swiper-pagination-color: rgb(58, 58, 58);
  
  .image {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 90vh;
  }
}