.innerDiv {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;

    .authorInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .authorImg {
            width: 500px;
            height: auto;
            margin: auto;
            padding-right: 100px;
        }

        .authorBio {
            width: 800px;
            padding-left: 100px;
            font-size: 1.3em;

            h1 {
                font-weight: bold;
                font-size: 2em;
                padding-bottom: 30px;
            }
            h2 {
                font-weight: bold;
                font-size: 1.8em;
                padding-bottom: 20px;
            }
            h3 {
                font-weight: bold;
                font-size: 1.6em;
                padding-bottom: 15px;
            }
            h4 {
                font-weight: bold;
                font-size: 1.5em;
                padding-bottom: 10px;
            }
        }
    }
}

@media screen and (max-width: 2000px) {
    .innerDiv {
        .authorImg {
            width: 25vw !important;
        }
        .authorBio {
            width: 30vw !important;
            padding-left: 0px !important;
            font-size: 1em !important;
        }
    }
}

@media screen and (max-width: 1600px) {
    .innerDiv {
        .authorImg {
            width: 30vw !important;
        }
    }
}

@media screen and (max-width: 1200px) {
    .innerDiv {
        .authorImg {
            all: unset;
        }
    }
}

@media screen and (max-width: 1000px) {
    .innerDiv {
        padding-top: 100px !important;
        .authorInfo {
            flex-direction: column;
            .authorImg {
                padding: 0 !important;
                width: 70% !important;
                margin-bottom: 50px;
            }
            .authorBio {
                width: 100% !important;
                padding: 0px 15% 20% 15% !important;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .innerDiv {
        padding-top: 150px !important;
        .authorInfo {
            flex-direction: column;
            .authorImg {
                padding: 0 !important;
                width: 100% !important;
                margin-bottom: 50px;
            }
            .authorBio {
                // width: 100% !important;
                padding: 20px !important;
            }
        }
    }
}