.Footer {
  position: relative;
  bottom: 0;
  width: 100vw;
  color: $accentColor;
  padding: 20px;
  background-color: $elementColor;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  .rightElement {
    place-self: right;
  }
  .leftElement {
    place-self: left;
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .leftElement {
    padding-left: 15vw;
  }
  .rightElement {
    padding-right: 15vw;
  }
}