.projectsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    margin: auto;
    width: 50vw;
    padding: 100px 0px 200px 0px;

    .imageHover {
        overflow: hidden;
        cursor: pointer;
        &:hover {
            img {
                background-color: rgba($color: #fff, $alpha: 1);
                transform: scale(1.1);
                filter: opacity(60%);
                transition: 0.8s;
            }
        }
    }

    .singleProject {
        &:nth-child(odd) {
            place-self: center end;
        }
        &:nth-child(even) {
            place-self: center start;
        }
    }
}

.projectInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;

    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1em;
        color: darkgray;
    }
}

@media screen and (max-width: 1030px) {
    .singleProject {
        padding: 50px 0px 50px 0px;
    }
    .projectsGrid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 100px 0 200px 0;

        .imageHover {
            width: 50vw !important;
        }

        h2 {
            font-size: 2em;
        }

        h3 {
            font-size: 1.1em;
            text-align: center;
        }
    }
}

@media screen and (max-width: 1030px) {
    .projectsGrid {
        padding: 100px 30% !important;
        .imageHover {
            width: 30vw;
        }

    }
}

@media screen and (max-width: 850px) {
    .projectsGrid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .imageHover {
            width: 100vw !important;
        }
    }
    .singleProject {
        display: flex;
        flex-direction: column;
        height: auto;
        img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1600px) {
    .projectsGrid {
        margin: 0px 20% !important;
        .imageHover {
            width: 30vw;
        }
    }
}