@use './components/vars' as *;

.innerDiv {
    cursor: default;
    margin: 0;
    padding: 0;
    min-height: 200vh;
    max-width: 100vw;
    background-color: $backgroundColor;
}

.slider {
    width: 100vw;
    overflow: hidden;
}

.slides {
    width: 500%;
    display: flex;

    input {
        display: none;
    }
}

.slide {
    width: 20%;
    transition: 2s;

    img {
        object-fit: cover;
        width: 100%;
        max-width: 100vw;
        height: 100vh;
    }
}

.navigationManual {
    position: absolute;
    width: 100vw;
    margin-top: 95vh;
    display: flex;
    justify-content: center;
}

.manualBtn {
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transform: 1s;

    &:not(:last-child) {
        margin-right: 40px;
    }

    &:hover {
        background-color: $accentColor;
    }
}

.radio1:checked ~ #first {
    margin-left: 0;
}

.radio2:checked ~ #first {
    margin-left: -20%;
}

.radio3:checked ~ #first {
    margin-left: -40%;
}

.radio4:checked ~ #first {
    margin-left: -60%;
}

.radio5:checked ~ #first {
    margin-left: -80%;
}

.navigationAuto {
    position: absolute;
    width: 100vw;
    margin-top: 95vh;
    display: flex;
    justify-content: center;
    

    div {
        border: 1px solid #fff;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transform: 1s;


        &:not(:last-child) {
            margin-right: 40px;
        }
    }
}

.radio1:checked ~ .navigationAuto .autoBtn1 {
    background-color: $accentColor;
}
.radio2:checked ~ .navigationAuto .autoBtn2 {
    background-color: $accentColor;
}
.radio3:checked ~ .navigationAuto .autoBtn3 {
    background-color: $accentColor;
}
.radio4:checked ~ .navigationAuto .autoBtn4 {
    background-color: $accentColor;
}
.radio5:checked ~ .navigationAuto .autoBtn5 {
    background-color: $accentColor;
}

.projectsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    padding: 100px;

    .imageHover {
        overflow: hidden;
        cursor: pointer;
        &:hover {
            img {
                background-color: rgba($color: #fff, $alpha: 1);
                transform: scale(1.1);
                filter: opacity(60%);
                transition: 0.8s;
            }
        }
    }

    .singleProject {
        &:nth-child(odd) {
            place-self: center end;
        }
        &:nth-child(even) {
            place-self: center start;
        }
    }
}

.projectInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;

    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1em;
        color: darkgray;
    }
}