.projectsGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.projectsGrid .imageHover {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  width: 30vw;
}

.projectsGrid .imageHover .serviceInfo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5%;
  left: 5%;
  opacity: 0%;
}

.projectsGrid .imageHover .serviceInfo p {
  padding-top: 2%;
  font-weight: 500;
}

.projectsGrid .imageHover .serviceInfo .price {
  font-size: 1.8em;
  padding-top: 13%;
  position: absolute;
  left: 35%;
}

.projectsGrid .imageHover .projectImage {
  z-index: 0;
}

.projectsGrid .imageHover .serviceInfo {
  z-index: 1;
  font-size: 1.5em;
}

.projectsGrid .imageHover:hover {
  cursor: default;
}

.projectsGrid .imageHover:hover .serviceInfo {
  opacity: 100%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.projectsGrid .imageHover:hover img {
  background-color: white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: opacity(60%);
          filter: opacity(60%);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.projectsGrid .singleProject {
  cursor: default;
  padding: 50px;
}

.projectsGrid .singleProject:nth-child(odd) {
  place-self: center end;
}

.projectsGrid .singleProject:nth-child(even) {
  place-self: center start;
}

.projectInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
}

.projectInfo h2 {
  font-size: 1.5rem;
}

.projectInfo h3 {
  font-size: 1em;
  color: darkgray;
}

@media screen and (max-width: 850px) {
  .projectsGrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projectsGrid h3 {
    text-align: center;
  }
  .projectsGrid .imageHover {
    width: 100vw !important;
  }
  .singleProject {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 !important;
    min-width: 100vw;
    height: auto;
  }
  .singleProject img {
    width: 100%;
  }
}

@media screen and (max-width: 1600px) {
  .projectsGrid h2 {
    font-size: 1.8em;
  }
  .projectsGrid .imageHover {
    width: 40vw;
  }
  .projectsGrid p {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 1300px) {
  .projectsGrid .imageHover {
    width: 60vw;
  }
  .price {
    padding-top: 6% !important;
  }
}

@media screen and (max-width: 580px) {
  .singleProject {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 !important;
    min-width: 100vw;
    height: auto;
  }
  .singleProject .serviceInfo {
    width: 30vw;
  }
  .singleProject p {
    font-size: 1em;
  }
  .singleProject .price {
    font-size: 1.5em !important;
  }
  .singleProject img {
    width: 100%;
  }
}

@media screen and (max-width: 440px) {
  .singleProject {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 !important;
    min-width: 100vw;
    height: auto;
  }
  .singleProject .serviceInfo {
    width: 30vw;
  }
  .singleProject p {
    font-size: 0.8em;
  }
  .singleProject .price {
    font-size: 1.5em !important;
  }
  .singleProject img {
    width: 100%;
  }
}
/*# sourceMappingURL=services.module.css.map */