@use './components/vars' as *;

.content {
    width: 50%;
    height: fit-content;
    margin: auto;
    cursor: default;
    padding: 100px 0;

    .title {
        font-size: 3em;
        text-align: center;
        padding-bottom: 30px;
    }

    .body {
        margin: 50px 0 100px 0;
    }

    .subtitle {
        font-size: 1.2em;
        text-align: center;
        padding-bottom: 50px;
        color: darkgrey;
    }

    .singleImage {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    .body {
        width: 100vw;
        padding: 0 20px;
    }
}

@media screen and (max-width: 1400px) {
    .content {
        width: 100%;
        padding: 150px 0 !important;
    }
}