@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  padding: 0;
  font-weight: lighter;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik';
}

body {
  background-color: #F2F2F2;
}
  
::-webkit-scrollbar {
  width: 0;
}